@import "animations";
@import "desktop";

html {
  font-family: $bodyFont;
  font-size: 10px;
  color: $mainFontColor;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
font-size: 1.6rem;
}

.container {
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

//header

header {
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  background: $gradient;
  transition: all 0.5s ease-in;
}

.container-welcome {
  background-size: cover;
  //width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  //padding: 1rem;
}

ul.main-nav {
  list-style-type: none;
  padding: 0px;
  font-size: 0px;
  max-width: 1000px;
  margin: 0 auto;
}

ul.main-nav > li {
  display: inline-block;
  padding: 0;
}

.nav-link {
  display: block;
  padding: 3rem;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}
.ic {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  right: 2.5rem;
  width: 3.2rem;
  height: 2.4rem;
  text-align: center;
  top:0;
  outline: none;
}

.ic.close {
  opacity: 0;
  font-size: 0;
  font-weight: 300;
  color: $white;
  top:0.8rem;
  height:4rem;
  display: block;
  outline: none;
}

/* Menu Icons for Devices*/
.ic.menu { top:2.5rem; z-index : 20; }

.ic.menu .line {
  height: 0.4rem;
  width: 100%;
  display: block;
  margin-bottom: 0.6rem;
}
.ic.menu .line-last-child { margin-bottom: 0;  }

.sub-menu-head { margin: 1rem 0; }
.banners-area { margin-top: 2rem; padding-top: 1.5rem; }


.btn {
  display: inline-block;
  text-transform: uppercase;
}

.logo {
  width: 100%;
}

.headline-logo {
  color: $white;
  font-size: 2rem;
  font-family: $logo;
  text-shadow: 0.1rem 0.1rem 0.2rem $secondFontColor;
}

//hero

.hero{
  width: 100%;
  height: 100vh;
  background: url("../images/people-2562500_1920.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-headline {
  font-size: 7rem;
  font-family:$tribal;
  color: $white;
  line-height: 5rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem $secondFontColor;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}

.first-letter {
  font-size: 6rem;
}

.headline {
  color: $secondFontColor;
  margin: 1rem;
  font-size: 5rem;
  font-family: $logo;
  text-shadow:0.1rem 0.1rem 0.1rem $mainFontColor;
  animation: scaleHeadline .5s forwards;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 0.1rem;
  width: 100%;
  max-width: 14rem;
  background-color: $white;
  position: relative;
  margin: 0.5rem;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: .9s;
}

.asterisk {
  font-size: 2rem;
  color: $white;
  opacity: 0;
  animation: spin .5s forwards;
  animation-delay: 1.5s;
}
.headline-description{
  font-size: 2rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  color: $mainFontColor;
  margin-top: 2rem;
}


.text-btn {
  font-size: 2rem;
  padding: 1rem;
}

//discover story
.global-headline {
  text-align: center;
  margin-top: 10rem;
}

.headline-dark {
  color: $mainFontColor;
  font-size: 2.5rem;
  //letter-spacing: .5rem;
  margin: 1rem;
}

.headline-dark:nth-of-type(odd){
  color: $white;
}

.discover-our-story .global-headline {
  margin-top: 7rem;
  letter-spacing: 0.7rem;

}

.sub-headline-dark {
  font-size: 6rem;
  font-family: $tribal;
  color: $secondFontColor;
  line-height: .6;
  //letter-spacing: 0.2rem;
  margin: 0;
  text-shadow: 0.1rem 0.1rem  0.1rem $mainFontColor;
}

.info {
  text-align: center;
}

.container-description {
  margin-bottom: 2rem;
  line-height: 2.5rem;
}


.body-btn {
  border-color:$secondFontColor;
  color: $mainFontColor;
  box-shadow: 0 0 4rem 4rem $secondFontColor inset, 0 0 0 0 $secondFontColor;
  transition: all 150ms ease-in-out;
  padding: 1rem;
  width: 80%;

  &:hover {
    box-shadow: 0 0 1rem 0 $secondFontColor inset, 0 0 1rem 0.4rem $secondFontColor;
  }
}

.submit-btn {
  margin: 0 auto;
}


.btnBlueGreen{
  border-color:$secondFontColor;
  color: $mainFontColor;
  box-shadow: 0 0 4rem 4rem $secondFontColor inset, 0 0 0 0 $secondFontColor;
  transition: all 150ms ease-in-out;
  padding: 1rem;
  background-color: $secondFontColor;
  animation: shadow-pulse 1s infinite;

  &:hover {
    box-shadow: 0 0 1rem 0 $secondFontColor inset, 0 0 1rem 0.4rem $secondFontColor;
  }
}

.single-animation {
  opacity: 0;
  animation: fadedown .5s forwards;
  animation-delay: 1.5s;
}

//tattoos

.my-tattoos {
  background: url("../images/24948.jpg") center no-repeat;
  background-size: cover;
}

.between {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.image-group-gallery{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.image-group img:hover {
  box-shadow: 0 0 1rem 0 $secondFontColor inset, 0 0 1rem 0.4rem $secondFontColor;
  transform: scale(1.025) translate(calc 0 / 50 * 0.1rem), calc (0 / 50 * 0.1rem);
  animation: fade-in calc(600ms) / 2 cubic-bezier(0.25, 0.46, 0.45, 0.84) forwards;
}

//perfect blend

.perfect-blend {
  background: url("../images/914.jpg") center no-repeat;
  background-size: cover;
}


//footer
.footer {
  padding: 8rem 0;
  background-color: $mainFontColor;
  color: $white;
  text-align: center;
  position: relative;
  overflow: auto;
}

.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: $mainFontColor;
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i {
  color: $white;
  display: block;
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content {
  overflow: hidden;
}

.footer-content h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 100;
}

.footer-content .asterisk {
  color: $white;
  margin: 2rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p{
  line-height: 2;
}

.social-icons {
  list-style: none;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-inline-start: 0;
}

.social-icons i {
  color: $white;
  font-size: 2rem;
  padding: .8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  box-shadow: 0 0 1rem 0 $secondFontColor inset, 0 0 1rem 0.2rem $secondFontColor;
}

.newsletter-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
  //max-width: 25rem;
  padding: 1rem 0;
  border-style: none;
}

.newsletter-btn {
  background-color: transparent;
  border:none;
  color: $white;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.2rem;
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  //margin-left: 10rem;
  box-shadow: 0 0 1rem 0 $secondFontColor inset, 0 0 1rem 0.2rem $secondFontColor;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

fieldset {
 padding: 1rem;
 margin-bottom: 2rem;
 border: 0.1rem solid $secondFontColor
}

.label-form {
  padding: 1rem;
}


//media queries

@media only screen and (max-width:900px) {
  .sub-menu-head { color:$secondFontColor; }
  .ic.menu { display: block; }
  header.dark .ic.menu .line { background-color: $white; }
  header.light .ic.menu .line { background-color: $mainFontColor; }
  .ic.menu .line {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .ic.menu:focus .line { background-color: $white !important; }

  .ic.menu:focus .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ic.menu:focus .line:nth-child(2){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
  }

  .ic.menu:focus .line:nth-child(3){
    transform: translateY(15px);
    opacity: 0;
  }

  .ic.menu:focus{ outline: none; }
  .ic.menu:focus ~ .ic.close { opacity: 1; z-index : 21;  outline: none;  }

  .ic.menu:hover,
  .ic.menu:focus{ opacity: 1; }


  nav { background-color: transparent; }

  /* Main Menu for Handheld Devices  */
  ul.main-nav {
    z-index:2;
    padding: 50px 0;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0px;
    background-color:$secondFontColor;
    height: 100%;
    overflow: auto;
    /*CSS animation applied : Slide from Right*/
    -webkit-transition-property: background, width;
    -moz-transition-property: background, width;
    -o-transition-property: background, width;
    transition-property: background, width;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }


  .ic.menu:focus ~ .main-nav { width: 300px; background-color:$mainFontColor; }

  ul.main-nav > * {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  .ic.menu:focus ~ .main-nav > * {opacity: 1;}

  ul.main-nav > li > a:after {display: none;}
  ul.main-nav > li:first-child { border-radius: 0px; }
  ul.main-nav > li {
    display: block;
    border-bottom: 1px solid #444;
  }

  ul.main-nav > li > a { text-transform: uppercase }

  ul.main-nav > li ul.sub-menu-lists > li a { color: #eee; font-size: 14px; }
  .sub-menu-head { font-size: 16px;}
  ul.main-nav > li:hover { background-color: transparent;  }
  ul.main-nav > li:hover > a {color: #fff; text-decoration: none; font-weight: 600;}
  .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    position: relative;
    visibility: visible;
    opacity: 1.0;
  }

  .sub-menu-block { padding: 0 30px; }
  .banners-area { padding-bottom: 0px;  }
  .banners-area div { margin-bottom: 15px;  }
  .banners-area { border-top: 1px solid $secondFontColor; }
}


.gallery{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.gallery li {
  display: none;
  list-style: none;
}


