$mainFont: 'Source Sans Pro', sans-serif;
$bodyFont: 'Cabin', sans-serif;
$tribal: 'Great Vibes', cursive;
$logo:'Sarina', cursive;
$mainFontColor: #252525;
$secondFontColor: #eebd44;
$bodyFontColor: #550401;
$white: #fff
