$mainFont: 'Source Sans Pro', sans-serif;
$bodyFont: 'Cabin', sans-serif;
$tribal: 'Permanent Marker';
$logo: 'Sarina', cursive;
$mainFontColor: #252525;
$secondFontColor: #eebd44;
$white: #fff;
$gradient: linear-gradient(to bottom, rgba(0,0,0,1), transparent);

